@charset "UTF-8";
/*inicio catalogo */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
}

header, footer {
  background-color: 4080;
  padding: 15px;
  text-align: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
  padding: 20px;
}

.column {
  flex: 1;
  min-width: 250px;
}

.item {
  border: 1px solid #ddd;
  margin-bottom: 20px;
  padding: 15px;
}

.item img {
  max-width: 100%;
  height: auto;
}

button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

@media screen and (max-width: 600px) {
  .column {
    flex-basis: 100%;
  }
}
/*fin catalogo*/
body {
  background-image: url(../imagenes/biblio.jpg);
}

.navcat {
  color: white;
}

.licat:hover {
  background-color: blue;
}

.item:hover {
  background-color: blue;
  transform: scale(1.1);
}

.item {
  transition: 0, 2s;
}

/*inicio contacto*/
* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  transition: 0.5s;
}

body {
  height: 100vh;
  width: 100%;
}

.contact {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #004080;
}

.contact__image-wrapper {
  height: 100%;
  width: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact__image {
  width: 100%;
}

.contact__right-side {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 0 7.3% 0 4.7%;
  width: 50%;
}

.contact__title {
  font-size: 100px;
  font-family: "Bellefair", serif;
  font-weight: 400;
  margin-bottom: 70px;
  text-transform: uppercase;
}

.contact__form-wrapper, .contact__input-line {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
}

.contact__input-line {
  margin-bottom: 45px;
}

.contact__label {
  font-size: 18px;
  font-weight: 600;
}

.contact__input {
  height: 30px;
  outline: none;
  padding: 5px 0;
  border-bottom: 2px solid #121212;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 100%;
  color: #121212;
  background-color: transparent;
}

.contact__input--textarea {
  height: 100px;
  outline: none;
  padding: 5px 0;
  border-bottom: 2px solid #121212;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 100%;
  color: #121212;
  resize: none;
  background-color: transparent;
}

.contact__submit-button {
  padding: 18px 55px;
  background-color: #121212;
  border-radius: 50px;
  color: #f2f2f2;
  font-weight: 600;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

.contact__submit-button:hover {
  background-color: #2e2e2e;
}

/*fin contacto*/
/*responsive*/
/* Estilos Generales */
* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  transition: 0.5s;
}

body {
  height: 100vh;
  width: 100%;
}

.contact {
  display: flex;
  flex-direction: column; /* Cambiado a columna para móviles */
  justify-content: center;
  align-items: center;
  background-color: #004080;
  padding: 20px; /* Agregado para espacio interno */
}

.contact__image-wrapper {
  width: 100%; /* Cambiado para móviles */
  overflow: hidden;
}

.contact__image {
  width: 100%;
  height: auto; /* Agregado para mantener la proporción de la imagen */
}

.contact__right-side {
  width: 100%; /* Cambiado para móviles */
  padding: 20px; /* Ajustado para móviles */
}

.contact__title {
  font-size: 2.5rem; /* Tamaño ajustado para móviles */
  margin-bottom: 30px; /* Ajustado para móviles */
}

/* Media Queries para Escritorio */
@media (min-width: 768px) {
  .contact {
    flex-direction: row; /* Fila para escritorio */
    height: 100%;
  }
  .contact__image-wrapper {
    width: 50%; /* 50% para escritorio */
  }
  .contact__right-side {
    width: 50%; /* 50% para escritorio */
    padding: 0 7.3% 0 4.7%;
  }
  .contact__title {
    font-size: 100px; /* Tamaño original para escritorio */
    margin-bottom: 70px;
  }
}
/*responsive*/
#libros-destacados {
  max-width: 800px;
}

/*estilos carrusel*/
/*estilos carrusel*/
#novedades {
  max-width: 800px;
}

.libro-novedad:hover {
  background-color: bisque;
  transform: scale(1.1);
}

.item {
  transition: 0, 2s;
}

h3 {
  text-align: center;
}

/*Imagenes derecha izquierda Novedades*/
.flexizq, .flexder {
  display: flex;
  justify-content: center;
  gap: 150px;
}

.imgder {
  position: relative; /* Establece la sección como referencia para la imagen absoluta */
  overflow: hidden; /* Asegura que cualquier contenido extra no se muestre fuera de los límites de la sección */
}

.imgder {
  width: auto;
  height: auto; /* Mantiene la proporción de la imagen */
  transition: transform 0.3s ease; /* Efecto suave para el zoom */
}

.imgder:hover {
  transform: scale(1.2); /* Aumenta el tamaño de la imagen en hover */
  border: solid blue;
}

/*izq*/
.imgizq {
  position: relative; /* Establece la sección como referencia para la imagen absoluta */
  overflow: hidden; /* Asegura que cualquier contenido extra no se muestre fuera de los límites de la sección */
}

.imgizq {
  width: auto;
  height: auto; /* Mantiene la proporción de la imagen */
  transition: transform 0.3s ease; /* Efecto suave para el zoom */
}

.imgizq:hover {
  transform: scale(1.2); /* Aumenta el tamaño de la imagen en hover */
  border: solid blue;
}

/*Imagenes derecha izquierda Novedades*/
/*responsive*/
/* Ajustes de layout para secciones de imágenes */
.flexizq, .flexder {
  display: flex;
  flex-wrap: wrap; /* Permite que los elementos se ajusten según el tamaño de la pantalla */
  justify-content: center;
  gap: 20px; /* Reducir el espacio entre imágenes */
}

.imgizq, .imgder {
  width: 100%; /* Establece el ancho completo en pantallas pequeñas */
  transition: transform 0.3s ease;
}

.imgizq img, .imgder img {
  width: auto;
  height: auto; /* Mantiene la proporción de la imagen */
}

/* Media Queries para Pantallas Grandes */
@media (min-width: 768px) {
  .flexizq, .flexder {
    justify-content: space-between;
    gap: 30px; /* Espacio mayor entre imágenes en pantallas grandes */
  }
  .imgizq, .imgder {
    width: 30%; /* Establece un ancho fijo para las imágenes en pantallas grandes */
  }
}
/* Ajustes para la sección central de novedades */
#novedades {
  max-width: 800px;
  margin: 0 auto; /* Centra la sección en la pantalla */
  padding: 20px;
}

.libro-novedad {
  margin-bottom: 20px; /* Espacio entre libros */
}

/* Estilos adicionales para efectos de hover y más... */
/*responsive*/
/* Resto de tus estilos ... */
header, section, footer {
  margin: 20px auto;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.492);
  border: 1px solid #ddd;
}

/* ... (Estilos previos) ... */
.imagenes {
  margin: 20px auto;
  text-align: center;
}

.imagenes img {
  max-width: 100%;
  height: auto;
  margin-right: 100px; /* Agregamos un margen derecho de 20px entre las imágenes */
}

.imagenes img:last-child {
  margin-right: 0; /* Eliminamos el margen derecho para la última imagen */
}

/* ... (Estilos posteriores) ... */
/* Estilos para las nuevas secciones */
.nueva-seccion {
  margin: 20px auto;
  padding: 20px;
  background-color: #e6e6e6;
  border: 2px solid #004080;
  border-radius: 8px;
}

.nueva-seccion h2 {
  color: #004080;
}

/* novedades */
/* Estilos para la sección de novedades */
#novedades {
  text-align: center;
  padding: 20px;
}

.nov {
  background-color: #004080;
}

.libro-novedad {
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border: 2px solid #004080;
  border-radius: 8px;
  overflow: hidden;
  background-color: #f7f7f7; /* Añade un fondo de color al contenedor */
}

.libro-novedad img {
  max-width: 100%;
  height: auto;
  margin-right: 10px;
  border-radius: 8px 0 0 8px;
}

.libro-novedad .informacion {
  text-align: left;
  padding: 10px;
}

.libro-novedad h3 {
  color: #004080;
  font-size: 20px;
  margin-bottom: 10px;
}

.libro-novedad p {
  font-size: 16px;
  line-height: 1.6;
  color: #555;
}

/* fin novedades */
/*inicio libros destacados*/
/* Agrega estilos específicos para la descripción del libro */
.descripcion-libro {
  font-size: 18px;
  line-height: 1.6;
  color: white;
  margin-top: 10px; /* Añade espacio entre el título y la descripción */
}

.libro-destacado {
  display: flex;
  margin-bottom: 30px;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.libro-destacado .imagen {
  flex: 1;
}

.libro-destacado img {
  width: 100%;
  height: auto;
  border-radius: 8px 0 0 8px;
}

.libro-destacado .informacion {
  flex: 1;
  padding: 20px;
}

.libro-destacado h3 {
  color: #004080;
  font-size: 28px;
  margin-bottom: 10px;
}

/* Estilos adicionales para la letra bonita y el color en la descripción */
.descripcion-libro {
  font-family: "Georgia", serif; /* Cambia la fuente a Georgia para un aspecto más elegante */
  color: white;
  font-size: 18px;
  line-height: 1.6;
  margin-top: 10px;
}

/*fin libros destacados*/
/* Ajustes adicionales para el botón "Volver al Menú Principal" */
button {
  display: block;
  margin: 20px auto;
  padding: 12px;
  font-size: 18px;
  background-color: #004080;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #002d4d;
}

h1, h2 {
  color: white;
  text-align: center;
}

nav {
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 15px;
}

nav a {
  text-decoration: none;
  color: #004080;
  font-weight: bold;
}

.libro {
  margin-bottom: 20px;
}

.libro img {
  max-width: 100%;
  height: auto;
}

footer {
  margin-top: 50px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.492);
  color: white;
}

/* Estilos específicos para cada sección */
#libros-destacados, #novedades, #contacto {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.seccion-cuadro {
  flex-basis: calc(25% - 20px);
  margin-bottom: 20px;
  padding: 10px;
  background-color: #e6e6e6;
  border: 2px solid #004080; /* Añadir borde al cuadro */
  border-radius: 8px; /* Añadir esquinas redondeadas al cuadro */
}

.seccion-cuadro h2 {
  color: #004080;
}

/*css style informacion pag. principal index*/
body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #004080;
  color: white;
}

header {
  color: #fff;
  padding: 20px;
  text-align: center;
}

.container {
  margin: 20px auto;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.492);
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.descripcion h2 {
  color: white;
  font-size: 28px;
  margin-bottom: 10px;
}

.descripcion span {
  font-weight: bold;
  color: white;
}

.descripcion p {
  font-size: 16px;
  line-height: 1.6;
  color: white;
}

.destacado, .explora {
  margin-top: 30px;
}

.destacado h3, .explora h3 {
  color: white;
  font-size: 24px;
  margin-bottom: 10px;
}

.destacado p, .explora p {
  font-size: 16px;
  line-height: 1.6;
  color: white;
}

.bodyindex {
  background-color: #004080;
}

/* fin css style informacion pag. principal index*/
/*banner1*/
.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner:hover {
  transform: scale(1.1);
}

/*banner1*/
/*banner2*/
.banner2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner2:hover {
  transform: scale(1.1);
}

/*banner2*/
/*video*/
.video {
  width: 100%; /* Ancho completo del contenedor */
  height: 100vh; /* Altura del viewport */
  position: relative; /* Posición relativa para el posicionamiento absoluto del hijo */
  overflow: hidden; /* Oculta cualquier cosa fuera de este contenedor */
}

.contenedor-video {
  position: absolute; /* Posicionamiento absoluto */
  top: 0; /* Parte superior del contenedor */
  left: 0; /* Parte izquierda del contenedor */
  width: 100%; /* Ancho completo */
  height: 100%; /* Altura completa */
}

.contenedor-video video {
  width: 100%; /* Ancho completo del contenedor */
  height: 100%; /* Altura completa del contenedor */
  object-fit: cover; /* Asegura que el video cubra completamente el contenedor */
}

/*video*/
.imagenes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
  padding: 20px;
}

.indeximg {
  flex: 1;
  min-width: 250px;
}

.indeximg {
  border: 1px solid #ddd;
  margin-bottom: 20px;
  padding: 15px;
}

.indeximg {
  max-width: 100%;
  height: auto;
}

.indeximg:hover {
  background-color: blue;
  transform: scale(1.1);
}

.indeximg {
  transition: 0, 2s;
}

/*# sourceMappingURL=style.css.map */
