body{
    background-image: url(../imagenes/biblio.jpg);

}

.navcat{
    color: white;

}

.licat:hover{
    background-color:blue;


}


.item:hover{
    background-color: blue;
    transform: scale(1.1);
}

.item{
    transition: 0,2s;

}

