 /*inicio catalogo */
 body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

header, footer {
    background-color: 004080;
    padding: 15px;
    text-align: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    padding: 20px;
}

.column {
    flex: 1;
    min-width: 250px;
}

.item {
    border: 1px solid #ddd;
    margin-bottom: 20px;
    padding: 15px;
}

.item img {
    max-width: 100%;
    height: auto;
}

button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

@media screen and (max-width: 600px) {
    .column {
        flex-basis: 100%;
    }
}




    
/*fin catalogo*/


body{
    background-image: url(../imagenes/biblio.jpg);

}

.navcat{
    color: white;

}

.licat:hover{
    background-color:blue;


}


.item:hover{
    background-color: blue;
    transform: scale(1.1);
}

.item{
    transition: 0,2s;

}

