#libros-destacados{
    max-width: 800px;

}

/*hover imagenes*/
.libro-destacado:hover{
    background-color: beige;
   transform: scale(1.1);

    
    

}



/*hover imagenes*/

/*Categoría / lista*/
.boxlist{
    margin-bottom: 20px;
    float: left;
    border-top: 0px;

}

.divul .boxul li{
    display: flex;
    padding: 0px 10px 0px 10px;
    font-size: 0.8em;
    background: none;
    border: none;
    font-size: 10pt;
    margin: 2px 0px;
    cursor: pointer;


}

.divul{
    height: auto;
    width: auto;

}

.boxul{
    
    float: left;

}

.boxlist{
    display: block;
    padding: 0 0 5px 20px;
    color: #ff3c00;
    background-color: transparent;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 1.3em;
    letter-spacing: 0.05em;
    border: none;
    margin-top: 10px;


}

.boxli:hover{
    background-color: whitesmoke;
    transform: scale(1.1);
    


}

.divul{
    display: block;
    padding: 0 0 5px 9px;
    color: whitesmoke;
    background-color: transparent;
    font-weight: 800;
    font-size: 1.3em;
    letter-spacing: 0.05em;
    border: none;
    margin-top: 10px;

}

/* Estilos base para la lista */
  
  .boxli {
    margin-bottom: 10px; /* Espaciado entre elementos */
    /* Otros estilos básicos aquí */
  }
  
  /* Media query para pantallas medianas (tabletas) */
  @media (max-width: 768px) {
    .boxli {
      font-size: 14px; /* Tamaño de fuente más pequeño */
      margin-bottom: 8px; /* Menos espaciado entre elementos */
    }
  }
  
  /* Media query para pantallas pequeñas (teléfonos móviles) */
  @media (max-width: 480px) {
    .boxli {
      font-size: 12px; /* Tamaño de fuente aún más pequeño */
      margin-bottom: 5px; /* Menos espaciado entre elementos */
    }
  }
  
  


/*Categoría / lista*/