body {


    font-family: 'Arial', sans-serif;

    margin: 0;

    padding: 0;

    background-color: #f7f7f7;

    color: #333;

}

/* inicio imagen de fondo*/
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('imagenes/biblio.jpg'); /* Ruta a tu imagen de fondo */
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir toda la pantalla */
    background-position: center; /* Centra la imagen en la pantalla */
    color: #333;
}

/*fin imagen de fondo*/

/* Resto de tus estilos ... */

header, nav, section, footer {

    margin: 20px auto;

    padding: 20px;

    background-color: #ffffff;

    border: 1px solid #ddd;

}


 

/* ... (Estilos previos) ... */

 

#imagenes {

    margin: 20px auto;

    text-align: center;

}

 

#imagenes img {

    max-width: 100%;

    height: auto;

    margin-right: 100px; /* Agregamos un margen derecho de 20px entre las imágenes */

}

 

#imagenes img:last-child {

    margin-right: 0; /* Eliminamos el margen derecho para la última imagen */

}

 

/* ... (Estilos posteriores) ... */

 

/* Estilos para las nuevas secciones */

.nueva-seccion {

    margin: 20px auto;

    padding: 20px;

    background-color: #e6e6e6;

    border: 2px solid #004080;

    border-radius: 8px;

}

 

.nueva-seccion h2 {

    color: #004080;

}

 /*inicio catalogo grid*/
 .grid-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Definimos 3 columnas */
    grid-template-rows: repeat(3, auto); /* Definimos 3 filas con altura automática */
    grid-gap: 5px; /* Tamaño de la separación entre las imágenes */
    justify-items: center; /* Alinea las imágenes horizontalmente */
    align-items: center; /* Alinea las imágenes verticalmente */
}

.grid-item{
    border: 5px solid black;


}

    





 

/*fin catalogo grid*/

/* novedades */

/* Estilos para la sección de novedades */
#novedades {
    text-align: center;
    padding: 20px;
}

.libro-novedad {
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border: 2px solid #004080;
    border-radius: 8px;
    overflow: hidden;
    background-color: #f7f7f7; /* Añade un fondo de color al contenedor */
}

.libro-novedad img {
    max-width: 100%;
    height: auto;
    margin-right: 10px;
    border-radius: 8px 0 0 8px;
}

.libro-novedad .informacion {
    text-align: left;
    padding: 10px;
}

.libro-novedad h3 {
    color: #004080;
    font-size: 20px;
    margin-bottom: 10px;
}

.libro-novedad p {
    font-size: 16px;
    line-height: 1.6;
    color: #555;
}


/* fin novedades */

/*inicio libros destacados*/


/* Agrega estilos específicos para la descripción del libro */
.descripcion-libro {
    font-size: 18px;
    line-height: 1.6;
    color: #333;
    margin-top: 10px; /* Añade espacio entre el título y la descripción */
}

.libro-destacado {
    display: flex;
    margin-bottom: 30px;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.libro-destacado .imagen {
    flex: 1;
}

.libro-destacado img {
    width: 100%;
    height: auto;
    border-radius: 8px 0 0 8px;
}

.libro-destacado .informacion {
    flex: 1;
    padding: 20px;
}

.libro-destacado h3 {
    color: #004080;
    font-size: 28px;
    margin-bottom: 10px;
}

/* Estilos adicionales para la letra bonita y el color en la descripción */
.descripcion-libro {
    font-family: 'Georgia', serif; /* Cambia la fuente a Georgia para un aspecto más elegante */
    color: #555;
    font-size: 18px;
    line-height: 1.6;
    margin-top: 10px;
}

/* Ajustes adicionales para el botón "Volver al Menú Principal" */
button {
    display: block;
    margin: 20px auto;
    padding: 12px;
    font-size: 18px;
    background-color: #004080;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #002d4d;
}

/*fin libros destacados*/


/*inicio contacto*/



#contacto {
    text-align: center;
    padding: 20px;
}

.formulario-contacto {
    max-width: 400px;
    margin: 0 auto;
}

.formulario-contacto label {
    display: block;
    margin-bottom: 5px;
    color: #004080;
}

.formulario-contacto input,
.formulario-contacto textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.formulario-contacto button {
    background-color: #004080;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.formulario-contacto button:hover {
    background-color: #002d4d;
}

/* Ajustes para el botón "Volver al Menú Principal" */
.volver-btn {
    display: block;
    margin: 20px auto;
    padding: 10px;
    font-size: 16px;
    background-color: #004080;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.volver-btn:hover {
    background-color: #002d4d;
}


/*fin contacto*/




 /*css style informacion pag. principal index*/

 body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    color: #333;
}

header {
    
    color: #fff;
    padding: 20px;
    text-align: center;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.descripcion h2 {
    color: #004080;
    font-size: 28px;
    margin-bottom: 10px;
}

.descripcion span {
    font-weight: bold;
    color: #002d4d;
}

.descripcion p {
    font-size: 16px;
    line-height: 1.6;
    color: #555;
}

.destacado, .explora {
    margin-top: 30px;
}

.destacado h3, .explora h3 {
    color: #004080;
    font-size: 24px;
    margin-bottom: 10px;
}

.destacado p, .explora p {
    font-size: 16px;
    line-height: 1.6;
    color: #555;
}

/* fin css style informacion pag. principal index*/

h1, h2 {

    color: #004080;

    text-align: center;

}

 

nav {

    text-align: center;

}

 

nav ul {

    list-style: none;

    padding: 0;

}

 

nav ul li {

    display: inline;

    margin-right: 15px;

}

 

nav a {

    text-decoration: none;

    color: #004080;

    font-weight: bold;

}

 

.libro {

    margin-bottom: 20px;

}

 

.libro img {

    max-width: 100%;

    height: auto;

}

 

footer {

    margin-top: 50px;

    text-align: center;

    background-color: #f4f4f4;

    color: #666;

}

 

/* Estilos específicos para cada sección */

#libros-destacados, #novedades, #contacto {

    display: flex;

    flex-wrap: wrap;

    justify-content: space-between;

}

 

.seccion-cuadro {

    flex-basis: calc(25% - 20px);

    margin-bottom: 20px;

    padding: 10px;

    background-color: #e6e6e6;

    border: 2px solid #004080; /* Añadir borde al cuadro */

    border-radius: 8px; /* Añadir esquinas redondeadas al cuadro */

}

 

.seccion-cuadro h2 {

    color: #004080;

}


